header{
background-color: #270101d1;
color: red;
width: 100%;
padding: 20px;
}
.titulo_site{
padding: 10px;
text-align: center;
width: 50%;
font-size: 30px;
font-weight: bold;
color: white;
}
.estudante{
background-color:#faae43;
padding:24px 0;
}
.estudante-div{
text-align:center;
padding:24px 0;
}
.estudante-div-texto{
width:80%;
margin:auto;
text-align:center;
font-size:18px;
line-height:1.8;
}

.estudante-nome{
font-size:22px;
font-weight:bold;
}

.logo-insta{
width:35px;
height:35px;
}

.banner1 img{
width:100%;
max-height:350px;
object-fit:cover;
}